<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted full-width-footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Fire Sale!
            </h6>
            <p>
             Fire Sale © 2023. All Rights Reserved. We provide a safe, user-friendly platform connecting sellers and buyers worldwide. Proudly committed to sustainability and trust in the online marketplace. Need help? Visit our FAQ or contact our support team. 
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

            {% if user_instance %}
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Useful links
                    </h6>
                    <p>
                      <a href="{% url 'user-profile' %}" class="text-reset">Profile</a>
                    </p>
                    <p>
                      <a href="{% url 'watchlist-index' %}" class="text-reset">Watchlist</a>
                    </p>
                    <p>
                      <a href="{% url 'my-listings' %}" class="text-reset">My listings</a>
                    </p>
                    <p>
                      <a href="{% url 'my-offers' %}" class="text-reset">Bids/Offers</a>
                    </p>
                  </div>
            {% endif %}
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>

              <div class="footer-contact-line">
                  <p class="material-symbols-outlined">home</p> <p>Menntavegur 1, 102 RVK, IS</p>
              </div>
              <div class="footer-contact-line">
                  <p class="material-symbols-outlined">mail</p> <p>firesale@firesale.com</p>
              </div>
              <div class="footer-contact-line">
                  <p class="material-symbols-outlined">call</p> <p>+ 354 123 4567</p>
              </div>
          </div>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
  </footer>