{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container-fluid justify-content-between" id="navbarSearchAndProfile">
      <img class="nav-link dropdown-toggle rounded-circle img-fluid vh-10" id="logo" href="#" role="button" aria-expanded="false" src="{% static 'images/FIRE_SALE_LOGO.png' %}" alt="Fire Sale! logo">
      <form class="d-flex w-50" role="search">
        <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search">

        <button class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
            <li><a class="dropdown-item" href="#">Category 5</a></li>
            <li><a class="dropdown-item" href="#">Category 6</a></li>
            <li><a class="dropdown-item" href="#">Category 7</a></li>
            <li><a class="dropdown-item" href="#">Category 8</a></li>
          </ul>
        </button>

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="nav-item dropdown">
          <img class="nav-link dropdown-toggle rounded-circle img-fluid vh-10 p-2" id="profile_image_small" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" src="{% static 'images/user_image.jpg' %}" alt="User profile image">
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">_full_name_here_</a></li>
            <li><a class="dropdown-item" href="#">_user_rating_here_</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Watchlist</a></li>
            <li><a class="dropdown-item" href="#">My listings</a></li>
            <li><a class="dropdown-item" href="#">Bids / offers</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
      </div>

    </div>
  </div>
</nav>

<!-- Lower nav bar -->
<div class="container-fluid d-flex justify-content-between flex-nowrap bg-body-secondary">
  <div class="me-auto vw-10">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
            <li><a class="dropdown-item" href="#">Category 5</a></li>
            <li><a class="dropdown-item" href="#">Category 6</a></li>
            <li><a class="dropdown-item" href="#">Category 7</a></li>
            <li><a class="dropdown-item" href="#">Category 8</a></li>
          </ul>
        </li>
      </ul>
  </div>

  <div class="position-relative top-50 end-0 w-25">
    <a>Create listing +</a>
    <a>Watchlist</a>
  </div>
</div>