{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Fire Sale!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
      <form class="d-flex w-50" role="search">
        <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search">

        <button class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
            <li><a class="dropdown-item" href="#">Category 5</a></li>
            <li><a class="dropdown-item" href="#">Category 6</a></li>
            <li><a class="dropdown-item" href="#">Category 7</a></li>
            <li><a class="dropdown-item" href="#">Category 8</a></li>
          </ul>
        </button>

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="nav-item dropdown w-10">
          <img class="nav-link dropdown-toggle rounded-circle img-fluid w-75" id="profile_image_small" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" src="{% static 'images/user_image.jpg' %}" alt="User profile image">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">_full_name_here_</a></li>
            <li><a class="dropdown-item" href="#">_user_rating_here_</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </div>

    </div>
  </div>
</nav>

<div class="container-fluid bg-body-secondary">
  <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
            <li><a class="dropdown-item" href="#">Category 5</a></li>
            <li><a class="dropdown-item" href="#">Category 6</a></li>
            <li><a class="dropdown-item" href="#">Category 7</a></li>
            <li><a class="dropdown-item" href="#">Category 8</a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>