{% load static %}
{% load custom_filters %}


<!DOCTYPE html>

<html lang="en">

<!-- Top nav bar -->
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse container-fluid justify-content-between" id="navbarSearchAndProfile">

      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img class="nav-link img-fluid vh-10 minh-vw-5" id="logo" role="button" aria-expanded="false" src="{% static 'images/FIRE_SALE_LOGO.png' %}" alt="Fire Sale! logo">
      </a>

      <!-- Search -->
      <form class="d-flex w-75" role="search" id="search-form" method="GET" action="{% url 'item_list' 'All' %}">
        <input class="form-control me-2 w-100" type="search" name="q" placeholder="Search" aria-label="Search">
    
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Search by category
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    {% if not category.parent %}
                        <li>
                            <span class="dropdown-item category-option">{{ category.name }}</span>
                            <ul class="subcategory-in-dropdown">
                                {% for subcategory in categories %}
                                    {% if subcategory.parent == category %}
                                        <li>
                                            <span class="dropdown-item category-option">{{ subcategory.name }}</span>
                                            <ul class="subsubcategory-in-dropdown">
                                                {% for subsubcategory in categories %}
                                                    {% if subsubcategory.parent == subcategory %}
                                                        <li>
                                                            <span class="dropdown-item category-option">{{ subsubcategory.name }}</span>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <button class="searchButton btn btn-outline-success" type="submit">Search</button>
    </form>
    
   
      <!-- Profile image -->
      {% if user.is_authenticated %}
        <div class="nav-item dropdown">
          {% if user_instance.userinfo.image %}
            <div class="nav-link rounded-circle img-container" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user_instance.userinfo.image }}" alt="User profile image">
            </div>
          {% else %}
            <div class="nav-link rounded-circle icon-container" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="material-symbols-outlined">person</span>
            </div>
          {% endif %}

            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url "user-profile" %}">
                  <b>{{ user_instance.full_name|truncate_name }}</b><br>
                  Average rating: {{ user_instance.userinfo.avg_rating }} ⭐
              </a></li>
{#              <li><a class="dropdown-item" href="{% url "user-profile" %}">Average rating: {{ user_instance.userinfo.avg_rating }} ⭐</a></li>#}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "user-profile" %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url "watchlist-index" %}">Watchlist</a></li>
                <li><a class="dropdown-item" href="{% url "my-offers" %}">Buying</a></li>
              <li><a class="dropdown-item" href="{% url 'my-listings' %}">Selling</a></li>
              {% if user.is_authenticated %}
                <li><a class="dropdown-item"href="{% url 'logout' %}">Logout</a></li>
              {% endif %}
            </ul>
        </div>
      {% else %}
        <div class="d-flex flex-column">
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Register</a>
        </div>
      {% endif %}

    </div>
  </div>
  </div>
</nav>

<!-- Lower nav bar -->
<div class="container-fluid d-flex justify-content-between flex-nowrap bg-body-secondary lower-nav-bar" role="navigation">
  <div class="me-auto vw-10">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by category
          </a>
            {% include 'category/categories_in_dropdown.html' %}
        </li>
      </ul>
  </div>
  
  <div class="d-flex justify-content-end align-items-center w-25">
    {% if user.is_authenticated %}
      <a class="m-2" href="{% url "create_item" %}">Create listing +</a>
      <a class="m-2" href="{% url "watchlist-index" %}">Watchlist</a>
    {% endif %}
  </div>
</div>
