
.underline-solid {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

.category {
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: inline-block;
    height: 250px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.profile {
    margin-bottom: 10px;
    display: flex;
}

.profile_button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.small-item-card {
    min-width: 200px;
}