:root {
    /* Color pallete */
    --fs-color-background-primary: #fff;
    --fs-color-background-secondary: #e9ecef;
    --fs-color-primary: #ff5d31;
    --fs-color-secondary: #ffa200;
    --fs-color-success: #77db54;
    --fs-color-danger: #ff4231;
    --fs-color-warning: #fbd118;
    --fs-color-info: #29b1eb;

    /* Size variables */
    --logo-size: 76px;
    --nav-item-size: 60px;
    --nav-main-bar-height: calc(var(--logo-size) + 2*0.5rem);
}



/* === Base === */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.underline-solid {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

#main-container{
    position: relative;
    top: calc(var(--nav-main-bar-height) + 40px + 32px);
    padding-bottom: 200px;
    min-height: 100vh;
}

/* === Footer === */



/* === Navigation === */

.searchButton {
    margin-left: 1%;
    color: black;
}



.lower-nav-bar {
    position: fixed;
    top: var(--nav-main-bar-height);
    z-index: 1000;
}

/* === Sort === */



/* === Category=== */



/* === Create Account === */


#signup-form input, #signup-form .form-control {
    border: 1px solid black;
    border-radius: 2pt;
    width: 400px;
    height: 28px;
}

#signup-form input:focus {
    border-color: black;
    border-width: 2px;
    box-shadow: none;
}

.signup-container h1 {
    padding-bottom: 20px;
}


input[name="image"] {
    margin-top: 10pt;
    margin-bottom: 10pt;
}
  
  
#signup-form label[for="id_username"], #signup-form label[for="id_password1"], #signup-form label[for="id_password2"] {
    display: block;
    padding-top: 15px; 
}
  
#signup-form label[for="id_full_name"] {
    display: block;
    padding-top: 18px; 
}

#signup-form .signup_button {
    border: none;
    border-radius: 3pt;
    width: 400px;
    height: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.status-button form {
display: inline-block;
}


.helptext, .helptext ul li {
    font-size: 15px; 
}

.form-container h4 {
    text-align: center;
}

.signup_button {
    margin-top: 15pt;
}

.login_button {
    width: 100%; 
}

.id_email {
    font-size: 10pt;
}
  

/* === Home === */



/* === Item === */


    /* Item Card */
    
    .small-item-card {
        width: 200px !important;
        min-width: 200px;
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-heart {
        color: #d90000;
    }

    .card-heart-filled {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }



/* === Offer === */



/* === Sign in === */

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
}

.form-container {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
   
}

.form-container input,
.form-container select,
.form-container textarea {
    margin-bottom: 10px;
}

/* === User === */

    /* Profile */

    .profile-left-side {
        width: 20%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .form-horizontal {
        margin-top: 10%;
        margin-left: 2%;
    }

    .profile-right-side {
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        margin-top: 9%;
    }

    .username-rating {
        display: flex;
        flex-direction: column;
    }

    .username-rating p {
        margin-right: 10px;
        white-space: pre-wrap;
    }

    .centered {
        text-align: center;
    }

    .right_side h1 {
        font-size: 45px;
        display: flex;
        word-break: break-all;
        margin-bottom: 10%;

    }


    /* Update User */

    .edit-heading {
        margin-top: 20px;
        margin-bottom: 20px;
    }


/* === Watchlist === */






/* ================= */
/* !!!! UNMOVED !!!! */




.card-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    justify-items: center;
}
.full-width-footer {
    width: 100%;
    left: 0;
    position: relative;
    bottom: 0;
}

.carousel-inner {
    max-height: 400px;
    max-width: 400px;
}

.carousel-item{
    position: relative;
    height: 400px;
    width: 400px;
    padding-top: 56.25%; /* 16:9 aspect ratio (change as needed) */
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next{
    text-decoration: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    padding: 4px 0 0 4px
}

#main-item-info-container{
    margin: 0.5em;
    padding: 0.25em;
}

.card-img-missing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 155, 155, .25);
}

.card-img-missing span {
    color: rgba(155, 155, 155, .5);
    font-size: 6em;
    text-decoration: dotted rgba(155, 155, 155, .5);
}

.img-container,
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-item-size);
  width: var(--nav-item-size);
  border-radius: 50%;
  background-color: rgba(155, 155, 155, .25);
}

.img-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-container span {
  font-size: 4em;
  color: rgba(155, 155, 155, .5);
}


.searchbar {
    display: flex;
    align-items: center;
}

.search-dropdown-container {
    display: flex;
    background-color: lightgray;
    align-items: center;
    height: 38px;
    border: 1px solid rgb(155,155,155);
    padding: 5px;
}

.search-and-dropdown-container {
    display: flex;
    width: 100%;
}

.search-input {
    width: 100%;
}

.notificaion-and-user-profile {
    display: flex;
    gap: 25px;
    margin-left: 1rem;
}


.card-info, .category-name, .see-more {
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.card-info:hover, .category-name:hover, .see-more:hover {
    text-decoration: underline;
}

.see-more {
    width: auto;
    font-size: 21px ;
    margin-left: 20px;
    border-left: 1px solid rgb(155, 155, 155, .5);
}

.category-name {
    width: auto;
    color: rgb(30, 30, 30);
    font-size: 25px;
    padding-right: 30px;

}


.homepage-banner {
    height: 300px;
    background-color: rgba(171, 171, 215, 0.83);
    margin: 5px;
}

.masthead-container {
    text-decoration: none;
    color: initial;
}



.masthead {
    height: 500px;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
}

.masthead:hover {
    background-image: url('https://plus.unsplash.com/premium_photo-1684783848349-fe1d51ab831b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

label [for="country-select"] {
    display: block;
    padding-top: 15px;
}

.offer-details {
    display: flex;
    flex-wrap: nowrap;
  }
  
.offer-details-main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.offer-details-main-left {
    flex-basis: 50%;
    margin-bottom: 40px;
  }

.navbar-brand {
    height: 76px;
}


.logo {
    height: 100%;
    object-fit: scale-down;
}

.offer-details-main-left > *:not(h1) {
    margin-left: 200px;
    margin-top: 80px;
  }
  
.offer-details-main-left h4 {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  
.offer-details-main-right {
    flex-basis: 50%;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.offer-details-buttons {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 135px;
  }

#item-details-btn > * {
    margin-bottom: 10px;
  }

.condition-and-description {
    margin-left: 16.5%;
    margin-top: 25px;
  }


.star {
  font-size: 24px;
  color: gold;
}
.star.filled {
  color: gold;
}


