{#<ul class="dropdown-menu">#}
{#    {% for category in categories %}#}
{#        {% if not category.parent %}#}
{#            <li><a class="dropdown-item" href="{% url 'item_list' category %}">{{ category.name }}</a></li>#}
{#            {% for subcategory in categories %}#}
{#                <ul class="subcategory-in-dropdown">#}
{#                    {% if subcategory.parent == category %}#}
{#                        <li><a class="dropdown-item" href="{% url 'item_list' subcategory %}">{{ subcategory.name }}</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</ul>#}
{#LAGA DROPDOWN QUERIES!!! -Steinar#}

<ul class="dropdown-menu">
    {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'item_list' category %}">{{ category.name }}</a></li>
        <ul class="subcategory-in-dropdown">
            {% for subcategory in categories %}
                {% if subcategory.parent == category %}
                    <li><a class="dropdown-item" href="{% url 'item_list' subcategory %}">{{ subcategory.name }}</a></li>
                    <ul class="subsubcategory-in-dropdown">
                        {% for subsubcategory in categories %}
                            {% if subsubcategory.parent == subcategory %}
                                <li><a class="dropdown-item" href="{% url 'item_list' subsubcategory %}">{{ subsubcategory.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
