{% extends 'base.html' %}
{% block content %}
    <h4>Create item</h4>
    <form class="form form-row" action="{% url 'create-item' %}" method="post">
        {% csrf_token %}
        {{ item_form.as_p }}

        {{ item_details_form.as_p }}

        <!-- Render formset -->
        <div id="formset-container">
            {{ item_image_formset.management_form }} <!-- Include formset management fields here -->
            {% for form in item_image_formset %}
                {{ form.as_table }}
            {% endfor %}
        </div>

        <div id="form-template" style="display: none;">
            {{ item_image_formset.empty_form }}
        </div>

        <div id="add-image-button-div">
            <button type="button" id="add-image-button" class="btn btn-secondary">Add Image</button>
        </div>

        <input type="submit" value="Create" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0;" />
    </form>

{% endblock %}
