<div class="card small-item-card mx-2" data-fs-item-id="{{ item.id }}">
  <a href="../items/{{ item.id }}">
    {% if image.image %}
{#      <img class="card-img-top" src="{{ item.itemimage_set.first.image }}" alt="Image for '{{ item.name }}'">#}
        <img class="card-img-top" src="{{ image.image }}" alt="Image for '{{ item.name }}'">
    {% else %}
      <div class="card-img-top card-img-missing"><span class="material-symbols-outlined">image</span></div>
    {% endif %}
  </a>
  <div class="card-body"> 
    <h5 class="card-title">{{ item.name|truncatechars:12 }}</h5>
    <p class="card-text">$ {{ item.price }}</p>
    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-primary">Make offer</a>
      <a href="#" class="btn rounded-circle d-flex align-items-center material-symbols-outlined" title="Add item to watchlist.">
        favorite
      </a>
    </div>
  </div>
</div>