<div class="card small-item-card mx-2" data-fs-item-id="{{ item.id }}">
    <div>
        <a href="{% url 'item-details' item.id %}">
            {% if item.itemimage_set.all.0.image %}
                <img class="card-img-top" src="{{ item.itemimage_set.all.0.image }}" alt="Image for '{{ item.name }}'">
            {% else %}
                <div class="card-img-top item-img-missing"><span class="material-symbols-outlined">image</span></div>
            {% endif %}
        </a>
    </div>
    <div class="card-body">
        <a class="card-info" href="{% url 'item-details' item.id %}">
            <h5 class="card-title">{{ item.name|truncatechars:14 }}</h5>
            <p class="card-text" style="display: flex; align-items: center; justify-content: space-between">
                $ {{ item.price }}
                <a href="#" class="btn rounded-circle d-flex align-items-center material-symbols-outlined card-heart {% if item.is_in_watchlist %}card-heart-filled{% endif %}" title="Add item to watchlist.">
                    favorite
                </a>
            </p>
        </a>
{#        <div class="d-flex justify-content-between">#}
{#            <a href="#" class="btn rounded-circle d-flex align-items-center material-symbols-outlined card-heart {% if item.is_in_watchlist %}card-heart-filled{% endif %}" title="Add item to watchlist.">#}
{#              favorite#}
{#            </a>#}
{#        </div>#}
    </div>
</div>