{% extends "base.html" %}
{% block content %} 
<div class="center-form">
    <div class="form-container">
        <h4>Log in</h4>
        <form method="post" class="form form-row form-control">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary btn-block login_button" value="Log in"/>
        </form>
        <form class="form form-row form-control" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary btn-block login_button">Create a new account</button>
        </form>
    </div>
</div>
{% endblock %}