{% extends 'base.html' %}
{% block content %}
    <div class="userListing">
        <h2>My listings</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Highest offer</th>  {# Bæta inn ! - Steinar #}
                <th scope="col">Offers</th>         {# Bæta inn ! - Steinar #}
                <th scope="col">Views</th>
                <th scope="col">Watchers</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_stats %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'item-details' item.item.id %}">{{ item.item.name }}</a></td>
                <td>{{ item.status }}</td>
                <td>${{ item.item.price }}</td>
                <td><a href="#">${{ item.item.price }}</a></td>
                <td><a href="{% url 'item-offers' item.item_id %}">N offers</a></td>
                <td>{{ item.views }}</td>
                <td>{{ item.watchers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
