{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h2>My listings</h2>
        {% include 'sort.html' %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Highest offer</th>
                <th scope="col">Offers</th>
                <th scope="col">Views</th>
                <th scope="col">Watchers</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody data-sortable-table>
        {% for item in item_stats %}
            <tr>
                <th scope="row" data-sort-date>{{item.listing_date|date:"d/m/y"}}</th>
                <td data-sort-name><a href="{% url 'item-details' item.item.id %}">{{ item.item.name }}</a></td>
                <td>{{ item.status }}</td>
                <td data-sort-amount>${{ item.item.price }}</td>
                <td>
                    {% if item.highest_price != "No offer" %}
                        ${{ item.highest_price }}
                    {% else %}
                        {{ item.highest_price }}
                    {% endif %}
                </td>
                <td>
                    {% with offer_count=item.item.offer_set.count %}
                        {% if offer_count == 0 %}
                            No offer
                        {% else %}
                            <a href="{% url 'item-offers' item.item.id %}">{{ offer_count }} offers</a>
                        {% endif %}
                    {% endwith %}
                </td>
                <td>{{ item.views }}</td>
                <td>{{ item.watchers }}</td>
                <td><a href="{% url 'edit-item' item.item.id %}" class="btn btn-outline-warning">Edit listing</a>
                <a href="{% url 'delete-item' item.item.id %}" class="btn btn-outline-danger">Delete listing</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}




