{% extends 'base.html' %}
{% block content %}
    <div class="userListing">
        <h2>My listings</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Highest offer</th>
                <th scope="col">Offers</th>
                <th scope="col">Views</th>
                <th scope="col">Watchers</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_stats %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'item-details' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.item.id }}</td>
                <td>${{ item.price }}</td>
                 <td>
                    {% for offer in highest_prices_dict.items %}
                        {% if offer.0 == item.id %}
                            ${{ offer.1 }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% with offer_count=item.item.offer_set.count %}
                        {% if offer_count == 0 %}
                            No offer
                        {% else %}
                            <a href="{% url 'item-offers' item.id %}">{{ offer_count }} offers</a>
                        {% endif %}
                    {% endwith %}
                </td>
                <td>{{ item.views }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}






