{% extends "base.html" %}
{% block content %}

<script>
    function toggleFilter() {
      var filterDiv = document.getElementById("filter-my-offers");
      filterDiv.style.display = (filterDiv.style.display === "none") ? "block" : "none";
    }
</script>


<div class="container d-flex justify-content-between mb-5">
    <h1>My offers</h1>
    {% include 'sort.html' %}
</div>

<a href="#" onclick="toggleFilter()">Filter</a>
<div class="filter-my-offers" style="display: none;">
        <div class="filter-title">
          <h id="filter-title">Offer status</h>
          <h id="filter-title">Item status</h>
        </div>
        <div class="filter-checkboxes">
          <div class="status-filter">
            <div><input type="checkbox" value="Accepted" id="accepted"><label for="accepted">Accepted</label></div>
            <div><input type="checkbox" value="Pending answer" id="pending-answer"><label for="pending-answer">Pending answer</label></div>
            <div><input type="checkbox" value="Item purchased" id="item-purchased"><label for="item-purchased">Item purchased</label></div>
            <div><input type="checkbox" value="Rejected" id="rejected"><label for="rejected">Rejected</label></div>
          </div>
          <div class="status-filter">
            <div><input type="checkbox" value="Sold" id="sold"><label for="sold">Sold</label></div>
            <div><input type="checkbox" value="Not sold" id="not-sold"><label for="not-sold">Not sold</label></div>
          </div>
        </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Item</th>
                <th scope="col">Offer status</th>
                <th scope="col">Offer amount</th>

                <th scope="col">List price</th>
                <th scope="col">Highest offer</th>
                <th scope="col">Offers</th>
                <th scope="col">Details</th>
                <th scope="col">Item status</th>
                {% if offer.status != 'Accepted' %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody data-sortable-table>
        {% for offer in user_offers %}
            <tr>
                <th scope="row" data-sort-date>{{offer.offerdetails.start_date|date:"d/m/y"}}</th>
                <td data-sort-name><a href="{% url 'item-details' offer.item.id %}">{{ offer.item }}</a></td>
                <td>{{ offer.status }}</td>
                <td data-sort-amount>${{ offer.amount }}</td>

                <td>${{ offer.item.price }}</td>
                <td>${{ highest_price }}</td>
                <td>
                    {% if offer.item.offer_set.count > 0 %}
                        <a href="{% url 'item-offers-buyers' offer.item.id %}">{{ offer.item.offer_set.count }} offers</a>
                    {% else %}
                        No offer
                    {% endif %}

                </td>
                <td><a href="{% url 'offer-details' offer.id %}">See details</a></td>
                <td>{{ offer.item.itemstats.status }}</td>
                <td>
                {% if offer.status != 'Item purchased' %}
                        <div class="status-button">
                            {% if offer.status == 'Accepted' %}
                                <form method="POST" action="{% url 'checkout' offer.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" id="go-to-checkout">Go to checkout</button>
                                </form>
                            {% else %}
                                <a href="{% url 'edit_offer' offer.id offer.item.id %}" class="btn btn-outline-warning">Edit offer</a>
                            {% endif %}
                            <a href="{% url 'delete_offer' offer.id %}" class="btn btn-outline-danger">Withdraw offer</a>
                        </div>
                {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}