{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-between mb-5">
    <h1>My offers</h1>
    {% include 'sort.html' %}
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Highest offer</th>
                <th scope="col">List price</th>  {# Bæta inn ! - Steinar #}
                <th scope="col">Offers</th>         {# Bæta inn ! - Steinar #}
{#                <th scope="col">Item status</th>#}
                <th scope="col">Offer status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody data-sortable-table>
        {% for offer in user_offers %}
            <tr>
                <td scope="row" data-sort-date>{{offer.offerdetails.start_date|date:"d/m/y"}} <td>
                <td data-sort-name><a href="{% url 'item-details' offer.item.id %}">{{ offer.item }}</a></td>
                <td data-sort-amount>${{ offer.amount }}</td>
                <td></td>
                <td>${{ offer.item.price }}</td>
                <td></td>
{#                <td>{{ offer.item.itemstats.status }}</td>#}
                <td>{{ offer.status }}</td>
                <td><a href="{% url 'offer-details' offer.id %}">See details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
