{% extends "base.html" %}
{% block content %}
    <div class="container d-flex justify-content-between mb-5">
    <h1>Notifications</h1>
    </div>

    {% for notification in all_notifications reversed %}
        <div class="notification-on-site" style="border-bottom: 1px solid rgba(0,0,0,0.2)">
        <p><b>{{ notification.datetime }}:</b></p>
        <p>-  {{ notification.message }}</p>
        <p><a href="{{ notification.href }}">See more</a></p>
        </div>
    {% endfor %}


{% endblock %}