{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile_site">
            <div class="left_side">
                <img class="nav-link dropdown-toggle rounded-circle img-fluid w-60" id="profile_image_small" href="#" data-bs-toggle="dropdown" aria-expanded="false" src="{% static 'images/user_image.jpg' %}" alt="User profile image">
                <button class="profile_button" type="button">My listings</button>
                <button class="profile_button" type="button">Bids / Offers</button>
                <button class="profile_button" type="button">Edit profile</button>
            </div>
            <div class="right_side">
                <h1>Jón<br>Eftirnafn</h1>
                <div class="username_rating">
                    <p>jonni5</p>
                    <p>Rating</p>
                </div>
                <p>Roooo ooooooooo ooooosalega langt bio herna ahjdhsj andskdns als dsjds hiln asjl saljsi o</p>
            </div>
    </div>
{% endblock %}

