{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="user-profile-main-container">
    <h1>Profile</h1>
        <div>
            <div class="user-profile-name-and-image">
                <h2>{{ user_instance.full_name }}</h2>
                {% if userinfo.image %}
                    <img class="nav-link user-profile-image" id="profile_image_small" href="#" src="{{ user_info.image }}" alt="User profile image">
                {% else %}
                    <div class="nav-link icon-container user-profile-image" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined">person</span>
                    </div>
                {% endif %}
            </div>
            <div class="user-profile-btns">
                    <a href="{% url 'my-offers' %}" class="btn btn-primary" style="width: 140px">My offers</a>
                    <a href="{% url 'my-listings' %}" class="btn btn-primary" style="width: 140px">My listings</a>
                    <a href="{% url 'update_profile' user.id %}" class="btn btn-outline-primary" style="display: flex; align-items: center; gap: 5px; justify-content: center; width: 140px">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        Edit profile
                    </a>
            </div>
            <div class="user-info-and-ratings">
                <div class="user-info">
                    <h2>User information</h2>
                    <div>
                        <p id="top-p"><b>Username:</b> {{ user_instance.user_name }}</p>
                        <p><b>Email:</b> {{ user_instance.email }}</p>
                        <p><b>Average rating:</b> {{ average_rating }} </p>
                        <p><b>Location: </b><br>
                            {{ user_profile.country_id }}<br>
                            {{ user_profile.city }}, {{ user_profile.zip_code }}<br>
                            {{ user_profile.address }}<br>
                        </p>
                        <p><b>Biography: </b><br>{{ user_profile.bio }}</p>
                    </div>
                </div>
                <div class="user-ratings-container">
                    <h2>Ratings</h2>
                        {% if not user_ratings %}
                            <p id="top-p">No ratings found</p>
                        {% endif %}
                        {% for rating in user_ratings %}
                            <div class="user-ratings">
                                    <p>{{ rating.offer_id.user_id.user_name }}</p>
                                    <p>{{ rating.offer_id.item_id }}</p>
                                    <div id="stars-{{ rating.id }}">{# Javacript fills stars here #}</div>
                                    <p>{{ rating.date }}</p>
                                    <p>{{ rating.message }}</p>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
