{% extends "base.html" %}
{% block content %}
    <h1 id="signup-header"> Sign up now </h1>
    <div class="signup-container">
        <form id="signup-form" class="form form-row form-control signup-width" method="post">
            {% csrf_token %}
            {{user_creation_form}}
            <br>
            {{user_info_creation_form}}
{#            <label for="country-select">Country</label><span style="color: red !important; display: inline; float: none;">*</span>      #}
{#            {% include 'user/country_select.html' %}#}
            {{user_profile_form}}
            <input type="submit" class="btn btn-primary signup_button" value="Sign up" />
        </form>
    </div>
{% endblock %}