{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h2>Checkout</h2>
    </div>

    <form class="form form-row" action="{% url 'checkout' offer_id %}" method="post" id="checkout-form">
        {% csrf_token %}
        <div id="user-details">
            <h4>User Details</h4>
            {{ user_form }}
            {{ user_profile_form }}
            <br>
            <div class="d-flex justify-content-end">
                <button type="button" id="next" class="btn btn-primary">Next</button>
            </div>
        </div>
        <div id="payment-details" style="display: none;">
            <h4>Payment Details</h4>
            {{ payment_form }}
            <br>
            <div class="d-flex justify-content-between">
                <button type="button" id="prev" class="btn btn-secondary">Previous</button>
                <button type="button" id="next-to-rating" class="btn btn-primary">Next</button>
            </div>
        </div>
        <div id="rating-section" style="display: none;">
            <h4>Rating Seller</h4>
            {{ rating_form }}
            <br>
            <div class="d-flex justify-content-between">
                <button type="button" id="prev-to-payment" class="btn btn-secondary">Previous</button>
                <input type="submit" value="Review checkout" class="btn btn-primary" data-checkout-review/>
            </div>
        </div>
        <div id="review" style="display: none;">
            <h2>Review checkout</h2>
            <br>
            <h3> User Details: </h3>
            <div id="review-user-details"></div>
            <br> 
            <h3> Payment details: </h3>
            <div id="review-payment-details"></div>
            <br>
            <h3> Rating details: </h3>
            <div id="review-rating-section"></div>
            <br>
            <div class="d-flex justify-content-between">
                <button type="button" id="back" class="btn btn-secondary">Back</button>
                <input type="submit" value="Confirm checkout" class="btn btn-primary" data-checkout-confirm/>
            </div>
        </div>
    </form>

    {% block extra_js %}
    <script>
        var userFormPrefix = '{{ user_form.prefix }}';
        var userProfileFormPrefix = '{{ user_profile_form.prefix }}';
        var paymentFormPrefix = '{{ payment_form.prefix }}';
    </script>
    <script src="{% static 'js/checkout.js' %}"></script>
    {% endblock %}

{% endblock %}





<!--hafa auto filled in user upplysingar sem á að staðfesta-->