{% extends 'base.html' %}
{% block content %}
    <div class="userListing">
        <h2>Offers for "{{ item }}"</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bidder</th>
                <th scope="col">Amount</th>
                <th scope="col">List price</th>
                <th scope="col">Details</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ offer.buyer.full_name }}</td>
                <td>${{ offer.amount }}</td>
                <td>${{ offer.item.price }}</td>
                <td><a href="{% url 'offer-details' offer.id %}">See details</a></td>
                <td>{{ offer.status }}</td>
                <td>
                    <div class="status-button">
                        {% if offer.status == "Accepted" %}
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Pending answer' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Undo</button>
                            </form>
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Rejected' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        {% elif offer.status == "Rejected" %}
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Accepted' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Pending answer' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Undo</button> <!-- Changed "Reject" to "Pend" -->
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Accepted' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form method="POST" action="{% url 'change_offer_status' offer.id item.id 'Rejected' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

