{% extends "base.html" %}
{% block content %}

<div class="offer-details-main-container">
    <div class="offer-details-main-left">
        {% if offer.buyer.id == request.user.id %}
            <h1>Your offer for "<a href="{% url 'item-details' offer.item.id %}">{{ offer.item }}</a>"</h1>
        {% elif offer.seller.id == request.user.id %}
            <h1>Offer for "<a href="{% url 'item-details' offer.item.id %}">{{ offer.item }}</a>"</h1>
        {% else %}
            <h1>What are you doing here?</h1>
        {% endif %}
        <div class="item_img-container d-flex flex-row">
            {% include 'item/item_image_carousel.html' %}
        </div>
    </div>

    <div class="offer-details-main-right">
        <p>Offer amount: ${{ offer.amount }}</p>
        <p>Highest offer: ${{ highest_price }}</p>
        <p>Item seller: {{ offer.seller }}</p>
        <p>Item seller: {{ offer.seller.email }}</p>
        <p>Seller rating: {{ offer.seller.userinfo.avg_rating }}</p>
        <p>Message: {{ offer.offerdetails.message }}</p>
        <p>Offer date: {{ offer.offerdetails.start_date }}</p>
        <p>Item status: {{ offer.item.itemstats.status }}</p>
        <p>Offer status: {{ offer.status }}</p>
    </div>

    <div class="offer-details-buttons">
        {% if offer.seller.id == request.user.id %}
            <div class="status-button">
                {% if offer.status == "Accepted" %}
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Pending answer' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Undo</button>
                    </form>
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Rejected' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                {% elif offer.status == "Rejected" %}
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Accepted' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Pending answer' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Undo</button> <!-- Changed "Reject" to "Pend" -->
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Accepted' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <form method="POST" action="{% url 'change_offer_status' offer.id offer.item.id 'Rejected' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                {% endif %}
            </div>
        {% elif offer.buyer.id == request.user.id %}
            <div class="d-block">
                <a href="{% url 'edit_offer' offer.id offer.item.id %}" class="btn btn-success">Edit offer</a>
                <a href="{% url 'delete_offer' offer.id %}" class="btn btn-danger">Withdraw offer</a>
            </div>
    </div>
</div>
        
    {% endif %}
{% endblock %}

