{% extends 'base.html' %}
{#{% load cache %}#}
{#{% cache 500 category_items %}#}
{% block content %}
    <div class="underline-solid">
        <h1>Home</h1>
    </div>

    {% include 'home/masthead.html' %}

    <div class="underline-solid" style="margin-top: 50px; margin-bottom: -15px">
        <h2>Your most viewed categories</h2>
    </div>
    <div class="categories-in-home-page">
        {% for category in categories_and_items %}
            {% if category.items|length > 0 %}
{#                {% if forloop.counter <= 4 %}#}
                    {% include 'category/category_row.html' %}
{#                {% endif %}#}
            {% endif %}
        {% endfor %}
        <h4><a href="{% url 'item_list' 'All' %}">See all</a></h4>
    </div>
{% endblock %}
{#{% endcache %}#}
