{% extends 'base.html' %}
{#{% load cache %}#}
{#{% cache 500 category_items %}#}
{% block content %}
    <div class="underline-solid">
        <h2>Home</h2>
    </div>

    <h4>Your most viewed</h4>
    <div class="categories-in-home-page">
        {% for category in categories_and_items %}
            {% if category.items|length > 0 %}
                {% if forloop.counter <= 4 %}
                    {% include 'category/category_row.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <h4><a>See more</a></h4>
    </div>
{% endblock %}
{#{% endcache %}#}
