{% load static %}
<a class="masthead-container" href="{% url 'item_list' 'All' %}">
<header class="masthead" style="background-image: url({% static 'images/vasilis-karkalas-lYRkGtc4toc-unsplash.jpg' %})">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
{#          <img style="width: 100%; height: 500px; object-fit: fill" src="{% static 'images/vasilis-karkalas-lYRkGtc4toc-unsplash.jpg' %}" alt="Masthead banner">#}
        <h1 class="fw-light">Newest items</h1>
        <p class="lead">See all</p>
      </div>
    </div>
  </div>
</header>
</a>